* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "poppins";
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: black;
  background-color: #00c0ff;
}

/* MAIN */
.main {
  width: auto;
  height: auto;
  background-image: url(./assets/1.webp);
  background-size: cover;
}

.main-content {
  max-width: 1070px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* NAV */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: transparent;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  z-index: 1000;
}
.nav-content {
  max-width: 1070px;
  width: 100%;
  padding: 30px 10px 10px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-bar-scrolled {
  background-color: #1e1345;
  top: -20px;
}

/* NAV -> LOGO */
.logo .logo-text {
  user-select: none;
  font-size: 40px;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.logo-text.logo-scrolled {
  font-size: 32px;
}

.hamburger-div {
  cursor: pointer;
}

.hamburger-div i {
  font-size: 1.5rem;
}

.menu-items .links {
  position: absolute;
  top: 80px;
  right: 0;
  width: 15 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding: 20px 30px;
  border-radius: 10px 0 0 10px;
  background-color: #1e1345;
  box-shadow: -2px -2px 10px -2px rgb(177, 177, 177);
  transform: translateX(300px);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
}

.links li {
  list-style: none;
}

.links li a {
  color: white;
  text-decoration: none;
}

.links li a:hover {
  color: #00c0ff;
}

/* .hidden-links {
  transform: translateX(0px);
} */

.hamburger-div .hidden-cross,
.hamburger-div .hidden-bar {
  display: none;
}

/* HERO */
.hero {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  color: white;
}

.hero-content {
  width: 100%;
  height: 100%;
  padding: 100px 0 0 0;
  display: flex;
  align-items: center;
  color: white;
}

.hero-content .text h1 {
  font-size: 4.7rem;
  line-height: 5.9rem;
  font-weight: 600;
}

.hero-content .text h1 b {
  color: #00c0ff;
}

.hero-content .text p {
  margin: 1rem 0 0.3rem 0;
  font-size: 1.25rem;
  line-height: 1.88rem;
}

.hero-content .text .social-icons {
  width: 100%;
  margin: 1rem 0 2.3rem 0; 
  display: flex;
  column-gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.social-icons a:hover {
  color: #00c0ff;
}

.hero-content .text .cto-btn1 {
  position: relative;
  display: inline-block;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 3.125rem;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  background-color: #00c0ff;
  overflow: hidden;
  transition-property: color;
  transition-duration: 100ms;
  transition-timing-function: ease;
}

.hero-content .text .cto-btn1::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;

  transition-property: bottom;
  transition-duration: 100ms;
  transition-timing-function: ease;
}

.hero-content .text .cto-btn1:hover::before {
  bottom: 0;
}

.hero-content .text .cto-btn1:hover span {
  color: black;
}

.text button span {
  z-index: 2;
}

/* HERO SCE > BUTTON */
.get-started-btn a {
  position: relative;
  width: 173px;
  padding: 1rem 2.5rem;
  display: flex;
  overflow: hidden;
  border: none;
  border-radius: 3.125rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  background-color: #00c0ff;
}

.get-started-btn a::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition-property: bottom;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.get-started-btn a:hover::before {
  bottom: 0;
}

.get-started-btn a span {
  position: relative;
  z-index: 12;
}

.get-started-btn a:hover span {
  color: black;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.hero-image img {
  width: 400px;
  height: 500px;
  margin-left: 180px;
}

/* CHARACTERISTICS SECTION */
.char-sec {
  width: 100%;
  margin: 113px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.char-boxes {
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 60px;
  border-radius: 20px;
  color: white;
  background-color: #3a2b71;
}

.char-boxes i {
  width: 70px;
  height: 70px;
  color: #00c0ff;
  font-size: 3rem;
}

.char-boxes h1 {
  font-size: 21px;
}

.char-boxes p {
  font-size: 16px;
}

.left-box {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.left-box:hover {
  transform: scaleX(1px);
}

/* ABOUT SECTION */
.about-us-sec {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.same-heading {
  width: 100%;
  /* height: 30vh; */
  margin: 0 0 70px 0;
  text-align: center;
}

.same-heading h3 {
  color: #00c0ff;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}

.same-heading h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 50px;
}

.about-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.about-content .about-image {
  position: relative;
  width: 48%;
  height: 700px;
}

.about-image .dev-image {
  position: absolute;
  top: 0;
  right: 5%;
  width: 350px;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
}

.about-image .design-image {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 300px;
  height: 270px;
  object-fit: fill;
  border-radius: 15px;
}

.about-image .icon-div i {
  position: absolute;
  top: 50px;
  left: 30px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: white;
  font-size: 2.5rem;
  background-color: #00c0ff;
}

.about-image .experience-num {
  position: absolute;
  right: 10%;
  bottom: 20%;
  padding: 8px 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border-left-style: solid;
  border-left-width: 7px;
  border-color: #00c0ff;
}

.about-image .stat {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4rem;
}

.about-image .stat-des {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1rem;
}

.about-content .about-des {
  width: 48%;
  height: 100%;
}

.about-des .about-des-heading {
  color: white;
  font-size: 30px;
  font-weight: 600;
  line-height: 39px;
}

.about-des .about-des-text {
  color: #b4afc6;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.9rem;
}

.about-des .list-box {
  width: 90%;
  margin: 32px 0;
  border: 2px solid #625a7d;
  border-radius: 15px;
}

.about-des .list-box .list {
  display: flex;

  align-items: center;
  color: white;
  list-style: none;
}

.about-des .list-box .item {
  padding: 25px 35px;
  list-style: none;
}

.about-des .list-box .first-item {
  border-style: solid;
  border-width: 0 2px 0 0;
  border-color: #625a7d;
}

.item li {
  margin: 0 0 7px 0;
}

li span {
  font-weight: 500;
}

li p {
  color: #b4afc6;
  font-size: 1rem;
  font-weight: 400;
}

.cv-btn a {
  width: 193px;
}

/* STATS SECTION*/

.stats {
  width: 100%;
  margin: 113px 0 113px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.counter {
  width: 23%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  padding: 50px 70px 40px 70px;
  background-color: #432d92;
}

.counter .count {
  color: #00c0ff;
  font-size: 3.44rem;
  line-height: 4.5rem;
}

.counter p {
  color: white;
  font-size: 1rem;
  line-height: 1.2rem;
}

/* SKILLS SECTIONS */
.skill-sec {
  margin: 113px 0 120px 0;
  padding: 0 0 50px 0;
}

.skills {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  width: 48%;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  color: white;
}

.skill .progress-bar {
  width: 100%;
  height: 10px;
  border: none;
  border-radius: 5px;
  background-color: lightgray;
}

.progress {
  width: 40%;
  height: 100%;
  border-radius: inherit;
  font-size: 0.8rem;
  line-height: 3rem;
  background-color: #00c0ff;

  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

/* SERVICES */
.services-sec {
  width: 100%;
  margin: 0 0 113px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.service-box {
  width: 30%;
  padding: 95px 30px 60px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: #3a2b71;
  border-radius: 10px;
  background-color: #3a2b71;
  cursor: pointer;
}
.service-box:hover {
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: #00c0ff;
}

.service-box .icon {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #00c0ff;

  transition-property: background-color;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}

.service-box:hover .icon {
  background-color: #00c0ff;
}

.service-box .icon i {
  color: white;
  font-size: 35px;
}

.service-box a {
  color: #00c0ff;
  text-decoration: none;
}
.service-box a:hover {
  text-decoration: underline;
}

/* .service-box .icon .ser {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 35px;

  transform: translate(-20px, -20px);
  transition-property: transform;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
} */

/* .service-box:hover .icon .ser {
  transform: translate(11px, 17px);
  font-size: 25px;
} */

.service-box .h3 {
  color: white;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

.service-box p {
  color: #b4afc6;
  font-size: 1rem;
  line-height: 30px;
  text-align: center;
}

/* RESUME SECTION */

.experience .line,
.education hr {
  position: absolute;
  top: 100px;
  left: 42px;
  z-index: 1;
  width: 0.5px;
  height: 500px;
  color: #f5f5f55b;
}

.resume-sec {
  padding: 0 0 113px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.exp-edu-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience,
.education {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  color: white;
}

.edu-exp-heading {
  margin: 0 0 20px 0;
  font-size: 37px;
  line-height: 47px;
}

.experience-details {
  margin: 0 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.experience-details .icon {
  z-index: 11;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #00c0ff;
}

.experience-details .icon i {
  color: white;
  font-size: 1.3rem;
}

.experience-details .details {
  width: 80%;
}

.details h3 {
  margin: 0 0 15px 0;
  font-size: 24px;
  line-height: 31px;
}

.details h3 span {
  margin: 0 0 0 20px;
  font-size: 1rem;
  line-height: 31px;
  font-weight: 400;
  color: #b4afc6;
}

.details h4 {
  margin: 0 0 15px 0;
  color: white;
  font-weight: 500;
}

.details p {
  color: #b4afc6;
  font-size: 1rem;
  line-height: 30px;
}

/* Project Section */
.projects-sec {
  height: auto;
  width: 100%;
  padding-bottom: 113px;
}

.project-boxes {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.project-boxes .project-box {
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 30px 0;
  border-radius: 15px;
  color: white;
  background-color: #432d92; 
}

.project-box .proj-img {
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  /* border: solid 1px white; */
}

.project-boxes .proj-title {
  margin: 10px 0 10px 10px;
}

.project-boxes .proj-des {
  margin: 0 0 0 10px;
}

.project-visit-btn {
  padding: 10px 30px;
  margin: 20px 0 0 10px;
  border: none;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  background-color: #00c0ff;
  cursor: pointer;
}



/* TESTIMONIAL SECTION */
.testimonials-sec {
  padding: 0 0 113px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px 0 20px 0;
  margin: 50px 0 50px 0;
  flex-wrap: wrap;
}

.testimonial {
  width: 30%;
  /* height: 308px; */
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
}

.testimonials-heading {
  margin: 0;
}

.testimonial .testimonial-icon {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 5rem;
}

.testimonial p {
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 400;
  /* font-style: italic; */
  text-align: center;
}

.testimonial .testimonial-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.testimonial .testimonial-author .author-details {
  text-align: start;
}

.testimonial-author .author-img {
  width: 50px;
  height: 50px;
  margin: 0 8px 0 0;
  border: solid 2px #00c0ff;
  border-radius: 50%;
  background-size: cover;
}

.author-img1 {
  background: url("./assets/dr-zahid-shehzad.jpg");
}

.author-img2 {
  background: url("./assets/file.enc");
}

.author-img3 {
  background: url("./assets/sameer.jpg");
}

.author-img4 {
  background: url("./assets/KC&C-logo-sarah-lindo.webp");
}



.testimonial .testimonial-author .author-details .name {
  margin: 0 0 5px 0;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
}

.testimonial .testimonial-author .author-details .designation {
  color: #b4afc6;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
}

/* CONTACT US SECTION */
.contact-us-sec {
  padding: 0 0 113px 0;
}

.contact-box {
  padding: 80px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  color: white;
  background-color: #432d92;
}

.contact-us-heading {
  margin: 0 0 40px 0;
}

.contact-text p {
  margin: 0 0 5px 0;
  color: #07b2f4;
  font-size: 19px;
  line-height: 30px;
}

.contact-text h2 {
  margin: 0 0 5px 0;
  font-size: 38px;
  line-height: 49px;
  font-weight: 600;
}

.contact-text .bottom-para {
  color: #b4afc6;
  font-size: 1rem;
  line-height: 30px;
  font-weight: 400;
}

.contact-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-bar .number {
  padding: 20px 70px;
  border-radius: 15px 0 0 15px;
  color: black;
  font-size: 1rem;
  background-color: white;
}

.contact-bar .contact-button {
  display: flex;
}

.contact-bar .contact-button a {
  padding: 20px 30px;
  border-radius: 0 15px 15px 0;
  color: white;
  text-decoration: none;
  background-color: #00c0ff;
}

/* COPYRIGHT SECTION */
.copy-right {
  width: 100%;
  padding: 50px;
}

.copy-right p {
  color: #b4afc6;
  font-size: 1.3rem;
  text-align: center;
}

/* MOVE TO TOP BUTTON */
.move-to-top-btn {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  padding: 0 3px 0 0;
  border-radius: 50%;
  background-color: #00c0ff;
}

.move-to-top-btn a {
  display: inline-block;
  color: white;
  text-decoration: none;
  transform: rotate(-90deg);
}

.move-to-top-btn-hidden {
  display: none;
}


























/* MEDIA QUERIES */

@media (max-width: 1440px) {
  .about-content {
    height: auto;
  }
  .about-us-sec {
    height: auto;
  }
}

@media (max-width: 1024px) {
  .main-content {
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
  }

  .main-content {
    width: 90%;
  }

  .nav-content {
    max-width: 1000px;
    width: 100%;
  }

  .nav-bar-scrolled {
    background-color: #1e1345;
    top: 0;
  }

  .hero {
    padding: 0;
  }

  .hero-image img {
    margin-left: 20px;
  }

  .char-boxes {
    height: 350px;
    padding: 30px;
    margin-bottom: 100px;
  }

  /* ABOUT SEC */
  .about-us-sec {
    height: auto;
    margin-bottom: 50px;
  }

  .about-image {
    position: relative;
    display: block;
  }

  .icon-div,
  .design-image {
    display: none;
  }

  .about-des {
    display: block;
  }

  /* STATS */
  .stats {
    margin: 0;
    padding: 50px 0 0 0;
  }

  /* education sec */

  .experience .line {
    left: 35px;
  }

  .education hr {
    left: 35px;
  }

  .details h3 {
    margin-bottom: 8px;
  }

  /* contanct sec */
  .contact-box {
    padding: 40px;
  }

  .contact-box .number {
    padding: 20px 40px;
  }

  .contact-box .contact-button a {
    padding: 20px;
  }
}

@media (max-width: 800px) {
  /* nav bar */
  .nav-content {
    padding: 20px 10px;
  }

  .nav-content .logo h1 {
    text-align: left;
    margin: 0 0 10px 0;
  }

  .menu-items {
    justify-content: center;
  }

  /* hero-sec */
  .hero-content {
    padding: 200px 0 0 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-content .hero-image img {
    width: 200px;
    height: 250px;
  }

  .hero-content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-content .text h1 {
    font-size: 3.5rem;
    line-height: 3rem;
  }

  .hero-content .text p {
    font-size: 1rem;
    margin: 10px 0 15px 0;
  }

  .hero-content .text .social-icons {
    justify-content: center;
  }

  /* character sec */
  .char-sec {
    display: block;
  }

  .char-boxes {
    width: 100%;
    height: 270px;
    margin: 0 0 10px 0;
  }

  /* about sec */
  .about-content {
    display: block;
  }

  .about-content .about-image {
    display: none;
  }

  .about-content .about-des {
    width: 100%;
  }

  /* stats sec */
  .stats {
    flex-wrap: wrap;
    padding: 170px 0 0 0;
  }
  .stats .counter {
    width: 47%;
  }

  /* skills sec */
  .services-sec {
    margin: 0 0 50px 0;
  }
  .skill-sec {
    padding: 0 0 50px 0;
  }

  .services-sec .service-box {
    width: 48%;
  }

  /* education sec */
  .exp-edu-sec {
    flex-direction: column;
  }

  .exp-edu-sec .experience,
  .education {
    width: 100%;
  }

  .experience .line,
  .education hr {
    left: 52px;
  }

  .project-boxes .project-box {
    width: 48%;
  }

  /* testemonial */
  .testimonial {
    width: 40%;
  }

  .testimonial p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  /* contact  */
  .contact-box {
    display: block;
  }

  .contact-box .contact-text {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 600px) {
  .nav-content .logo h1 {
    text-align: left;
    margin: 0 0 10px 0;
  }

  .same-heading h3 {
    font-size: 1rem;
  }
  .same-heading h1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .about-des .about-des-heading {
    font-size: 1.4rem;
  }

  .about-des .about-des-text {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .service-box .h3 {
    font-size: 1rem;
  }

  .experience h2, .education h2 {
    font-size: 1.8rem;
  }

  .details h3 {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .details h3 span {
    font-size: 0.8rem;
  }

  .details p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  } 


  .project-boxes .project-box {
    width: 48%;
  }

  .testimonial {
    width: 100%;
  }

  .testimonial .testimonial-author .author-details .name{
    font-size: 18px;
  }

  .contact-text p{
    font-size: 1rem;
  }

  .contact-text h2 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 480px) {

  .hero-content {
    padding: 100px 0 0 0;
  }
  .hero-content .text h1 {
    font-size: 2rem;
  }

  .hero-content .text p {
    font-size: 1rem;
  }

  .hero-content .text .get-started-btn a{
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .about-des .list-box .list {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-des .list-box .first-item {
    border: none;
  }

  .get-started-btn a {
    height: 100%;
    width: 150px;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .stats {
    padding: 50px 0 0 0;
  }

  .stats .counter {
    width: 100%;
    flex-direction: column;
  }

  .same-heading h1 {
    font-size: 1.3rem;
  }

  .skill-sec { 
    margin: 113px 0 50px 0;
  }

  .skills .skill {
    width: 100%;
  }

  .services-sec .service-box {
    width: 100%;
  }

  .same-heading {
    margin: 0 0 40px 0;
  }

  .exp-edu-sec {
    gap: 77px
  }

  .experience .line, .education hr {
    display: none;
  }

  .project-boxes .project-box {
    width: 100%;
  }

  .testimonials {
    padding: 0 0 0 0;
  }

  .testimonial {
    padding: 20px 0 0 0;
  }

  .contact-us-sec {
    padding: 0 0 70px 0;
  }

  .contact-box {
    padding: 23px;
  }

  .contact-box .number, .contact-box .contact-button a {
    padding: 15px 34px;
  }

  .copy-right {
    padding: 20px;
  }

  .copy-right p {
    font-size: 1rem;
    line-height: 2rem;
  }
}
